.minio.sys/
data-center-course/
packages/
resources/
vagrantfile
typecho.zip
obs-tutorial/osm
obs-tutorial/osm.conf
obs-tutorial/config.json
obs-tutorial/certs/
obs-tutorial/root/
k3s-tutorial/.vagrant/*
k3s-tutorial/data/*
k3s-tutorial/packages/*.deb
k3s-tutorial/packages/*.tar
k3s-tutorial/packages/*.tar.gz
k3s-tutorial/packages/k3s
k3s-tutorial/focal-server-cloudimg-amd64-vagrant.box
k3s-tutorial/dashboard-tutorial/apps/*
!k3s-tutorial/dashboard-tutorial/apps/README.md
!k3s-tutorial/dashboard-tutorial/packages/urls.txt
